ID POP GROUP SEX
Sci_16066 Eastern_Yellow Eastern_Yellow female
Sci_16098 Eastern_Yellow Eastern_Yellow female
Sci_34449 Kindae Kindae female
Sci_34474 Kindae Kindae female
Sci_97074 Hamadryas Hamadryas female
PD_0199 Tanzanian_Olive Tanzanian_Olive female
PD_0200 Tanzanian_Olive Tanzanian_Olive female
PD_0203 Tanzanian_Olive Tanzanian_Olive female
PD_0205 Tanzanian_Olive Tanzanian_Olive female
PD_0206 Tanzanian_Olive Tanzanian_Olive female
PD_0208 Tanzanian_Olive Tanzanian_Olive female
PD_0209 Tanzanian_Olive Tanzanian_Olive female
PD_0210 Tanzanian_Olive Tanzanian_Olive female
PD_0211 Tanzanian_Olive Tanzanian_Olive female
PD_0212 Tanzanian_Olive Tanzanian_Olive female
PD_0213 Eastern_Yellow Eastern_Yellow female
PD_0214 Eastern_Yellow Eastern_Yellow female
PD_0216 Eastern_Yellow Eastern_Yellow female
PD_0219 Tanzanian_Olive Tanzanian_Olive female
PD_0221 Tanzanian_Olive Tanzanian_Olive female
PD_0222 Tanzanian_Olive Tanzanian_Olive female
PD_0224 Eastern_Yellow Eastern_Yellow female
PD_0225 Eastern_Yellow Eastern_Yellow female
PD_0226 Eastern_Yellow Eastern_Yellow female
PD_0232 Western_Yellow Western_Yellow female
PD_0237 Eastern_Yellow Eastern_Yellow female
PD_0238 Tanzanian_Olive Tanzanian_Olive female
PD_0239 Tanzanian_Olive Tanzanian_Olive female
PD_0240 Tanzanian_Olive Tanzanian_Olive female
PD_0241 Tanzanian_Olive Tanzanian_Olive female
PD_0243 Tanzanian_Olive Tanzanian_Olive female
PD_0244 Tanzanian_Olive Tanzanian_Olive female
PD_0265 Tanzanian_Olive Tanzanian_Olive female
PD_0270 Eastern_Yellow Eastern_Yellow female
PD_0271 Eastern_Yellow Eastern_Yellow female
PD_0272 Eastern_Yellow Eastern_Yellow female
PD_0390 Papio Papio female
PD_0391 Papio Papio female
PD_0392 Papio Papio female
PD_0393 Papio Papio female
PD_0394 Papio Papio female
PD_0492 Tanzanian_Olive Tanzanian_Olive female
PD_0495 Tanzanian_Olive Tanzanian_Olive female
PD_0499 Tanzanian_Olive Tanzanian_Olive female
PD_0500 Tanzanian_Olive Tanzanian_Olive female
PD_0501 Tanzanian_Olive Tanzanian_Olive female
PD_0503 Eastern_Yellow Eastern_Yellow female
PD_0506 Tanzanian_Olive Tanzanian_Olive female
PD_0507 Tanzanian_Olive Tanzanian_Olive female
PD_0509 Tanzanian_Olive Tanzanian_Olive female
PD_0641 Tanzanian_Olive Tanzanian_Olive female
PD_0649 Tanzanian_Olive Tanzanian_Olive female
PD_0651 Tanzanian_Olive Tanzanian_Olive female
PD_0652 Tanzanian_Olive Tanzanian_Olive female
PD_0653 Tanzanian_Olive Tanzanian_Olive female
PD_0659 Western_Yellow Western_Yellow female
PD_0662 Western_Yellow Western_Yellow female
PD_0674 Tanzanian_Olive Tanzanian_Olive female
PD_0675 Tanzanian_Olive Tanzanian_Olive female
PD_0676 Tanzanian_Olive Tanzanian_Olive female
PD_0677 Tanzanian_Olive Tanzanian_Olive female
PD_0678 Tanzanian_Olive Tanzanian_Olive female
PD_0680 Tanzanian_Olive Tanzanian_Olive female
PD_0682 Tanzanian_Olive Tanzanian_Olive female
PD_0683 Tanzanian_Olive Tanzanian_Olive female
PD_0685 Tanzanian_Olive Tanzanian_Olive female
PD_0686 Tanzanian_Olive Tanzanian_Olive female
PD_0693 Chacma Chacma female
PD_0694 Chacma Chacma female
PD_0695 Chacma Chacma female
PD_0698 Hamadryas Hamadryas female
PD_0700 Hamadryas Hamadryas female
PD_0701 Hamadryas Hamadryas female
PD_0708 Hamadryas Hamadryas female
PD_0710 Hamadryas Hamadryas female
PD_0721 Ethiopian_Olive Ethiopian_Olive female
PD_0724 Ethiopian_Olive Ethiopian_Olive female
PD_0726 Ethiopian_Olive Ethiopian_Olive female
PD_0730 Ethiopian_Olive Ethiopian_Olive female
PD_0736 Ethiopian_Olive Ethiopian_Olive female
PD_0737 Ethiopian_Olive Ethiopian_Olive female
PD_0738 Ethiopian_Olive Ethiopian_Olive female
PD_0744 Ethiopian_Olive Ethiopian_Olive female
PD_0745 Eastern_Yellow Eastern_Yellow female
PD_0754 Eastern_Yellow Eastern_Yellow female
PD_0760 Kindae Kindae female
PD_0765 Eastern_Yellow Eastern_Yellow female
PD_0769 Eastern_Yellow Eastern_Yellow female
PD_0770 Eastern_Yellow Eastern_Yellow female
PD_0772 Eastern_Yellow Eastern_Yellow female
PD_0773 Eastern_Yellow Eastern_Yellow female
PD_0774 Eastern_Yellow Eastern_Yellow female
PD_0781 Kindae Kindae female
PD_0788 Kindae Kindae female
PD_0789 Kindae Kindae female
PD_0790 Kindae Kindae female
PD_0791 Kindae Kindae female
PD_0792 Kindae Kindae female
