 ID POP GROUP SEX
0 Sci_16066 "Eastern Yellow" "Eastern Yellow" female
1 Sci_16098 "Eastern Yellow" "Eastern Yellow" female
2 Sci_30877 "Kenyan Olive" "Kenyan Olive" male
3 Sci_30977 "Kenyan Olive" "Kenyan Olive" female
4 Sci_34449 Kindae Kindae female
5 Sci_34474 Kindae Kindae female
6 Sci_38168 Gelada Gelada male
7 Sci_97074 Hamadryas Hamadryas female
8 Sci_97124 Hamadryas Hamadryas male
9 PD_0067 Gelada Gelada male
10 PD_0199 "Tanzanian Olive" "Tanzanian Olive" female
11 PD_0200 "Tanzanian Olive" "Tanzanian Olive" female
12 PD_0201 "Tanzanian Olive" "Tanzanian Olive" male
13 PD_0202 "Tanzanian Olive" "Tanzanian Olive" male
14 PD_0203 "Tanzanian Olive" "Tanzanian Olive" female
15 PD_0204 "Tanzanian Olive" "Tanzanian Olive" male
16 PD_0205 "Tanzanian Olive" "Tanzanian Olive" female
17 PD_0206 "Tanzanian Olive" "Tanzanian Olive" female
18 PD_0207 "Tanzanian Olive" "Tanzanian Olive" male
19 PD_0208 "Tanzanian Olive" "Tanzanian Olive" female
20 PD_0209 "Tanzanian Olive" "Tanzanian Olive" female
21 PD_0210 "Tanzanian Olive" "Tanzanian Olive" female
22 PD_0211 "Tanzanian Olive" "Tanzanian Olive" female
23 PD_0212 "Tanzanian Olive" "Tanzanian Olive" female
24 PD_0213 "Eastern Yellow" "Eastern Yellow" female
25 PD_0214 "Eastern Yellow" "Eastern Yellow" female
26 PD_0215 "Eastern Yellow" "Eastern Yellow" male
27 PD_0216 "Eastern Yellow" "Eastern Yellow" female
28 PD_0217 "Eastern Yellow" "Eastern Yellow" male
29 PD_0218 "Tanzanian Olive" "Tanzanian Olive" male
30 PD_0219 "Tanzanian Olive" "Tanzanian Olive" female
31 PD_0220 "Tanzanian Olive" "Tanzanian Olive" male
32 PD_0221 "Tanzanian Olive" "Tanzanian Olive" female
33 PD_0222 "Tanzanian Olive" "Tanzanian Olive" female
34 PD_0223 "Eastern Yellow" "Eastern Yellow" male
35 PD_0224 "Eastern Yellow" "Eastern Yellow" female
36 PD_0225 "Eastern Yellow" "Eastern Yellow" female
37 PD_0226 "Eastern Yellow" "Eastern Yellow" female
38 PD_0227 "Eastern Yellow" "Eastern Yellow" male
39 PD_0228 "Western Yellow" "Western Yellow" male
40 PD_0229 "Western Yellow" "Western Yellow" male
41 PD_0230 "Western Yellow" "Western Yellow" male
42 PD_0231 "Western Yellow" "Western Yellow" male
43 PD_0232 "Western Yellow" "Western Yellow" female
44 PD_0233 "Western Yellow" "Western Yellow" male
45 PD_0234 "Western Yellow" "Western Yellow" male
46 PD_0235 "Eastern Yellow" "Eastern Yellow" male
47 PD_0236 "Eastern Yellow" "Eastern Yellow" male
48 PD_0237 "Eastern Yellow" "Eastern Yellow" female
49 PD_0238 "Tanzanian Olive" "Tanzanian Olive" female
50 PD_0239 "Tanzanian Olive" "Tanzanian Olive" female
51 PD_0240 "Tanzanian Olive" "Tanzanian Olive" female
52 PD_0241 "Tanzanian Olive" "Tanzanian Olive" female
53 PD_0242 "Tanzanian Olive" "Tanzanian Olive" male
54 PD_0243 "Tanzanian Olive" "Tanzanian Olive" female
55 PD_0244 "Tanzanian Olive" "Tanzanian Olive" female
56 PD_0265 "Tanzanian Olive" "Tanzanian Olive" female
57 PD_0266 "Tanzanian Olive" "Tanzanian Olive" male
58 PD_0267 "Tanzanian Olive" "Tanzanian Olive" male
59 PD_0268 "Eastern Yellow" "Eastern Yellow" male
60 PD_0269 "Eastern Yellow" "Eastern Yellow" male
61 PD_0270 "Eastern Yellow" "Eastern Yellow" female
62 PD_0271 "Eastern Yellow" "Eastern Yellow" female
63 PD_0272 "Eastern Yellow" "Eastern Yellow" female
64 PD_0390 Papio Papio female
65 PD_0391 Papio Papio female
66 PD_0392 Papio Papio female
67 PD_0393 Papio Papio female
68 PD_0394 Papio Papio female
69 PD_0395 Papio Papio male
70 PD_0396 Papio Papio male
71 PD_0397 Papio Papio male
72 PD_0398 Papio Papio male
73 PD_0399 Papio Papio male
74 PD_0400 Papio Papio male
75 PD_0401 Papio Papio male
76 PD_0492 "Tanzanian Olive" "Tanzanian Olive" female
77 PD_0493 "Tanzanian Olive" "Tanzanian Olive" male
78 PD_0494 "Tanzanian Olive" "Tanzanian Olive" male
79 PD_0495 "Tanzanian Olive" "Tanzanian Olive" female
80 PD_0496 "Tanzanian Olive" "Tanzanian Olive" male
81 PD_0497 "Tanzanian Olive" "Tanzanian Olive" male
82 PD_0498 "Tanzanian Olive" "Tanzanian Olive" male
83 PD_0499 "Tanzanian Olive" "Tanzanian Olive" female
84 PD_0500 "Tanzanian Olive" "Tanzanian Olive" female
85 PD_0501 "Tanzanian Olive" "Tanzanian Olive" female
86 PD_0502 "Tanzanian Olive" "Tanzanian Olive" male
87 PD_0503 "Eastern Yellow" "Eastern Yellow" female
88 PD_0504 "Tanzanian Olive" "Tanzanian Olive" male
89 PD_0505 "Tanzanian Olive" "Tanzanian Olive" male
90 PD_0506 "Tanzanian Olive" "Tanzanian Olive" female
91 PD_0507 "Tanzanian Olive" "Tanzanian Olive" female
92 PD_0508 "Tanzanian Olive" "Tanzanian Olive" male
93 PD_0509 "Tanzanian Olive" "Tanzanian Olive" female
94 PD_0637 "Eastern Yellow" "Eastern Yellow" male
95 PD_0641 "Tanzanian Olive" "Tanzanian Olive" female
96 PD_0642 "Tanzanian Olive" "Tanzanian Olive" male
97 PD_0649 "Tanzanian Olive" "Tanzanian Olive" female
98 PD_0650 "Tanzanian Olive" "Tanzanian Olive" male
99 PD_0651 "Tanzanian Olive" "Tanzanian Olive" female
100 PD_0652 "Tanzanian Olive" "Tanzanian Olive" female
101 PD_0653 "Tanzanian Olive" "Tanzanian Olive" female
102 PD_0654 "Tanzanian Olive" "Tanzanian Olive" male
103 PD_0658 "Western Yellow" "Western Yellow" male
104 PD_0659 "Western Yellow" "Western Yellow" female
105 PD_0662 "Western Yellow" "Western Yellow" female
106 PD_0674 "Tanzanian Olive" "Tanzanian Olive" female
107 PD_0675 "Tanzanian Olive" "Tanzanian Olive" female
108 PD_0676 "Tanzanian Olive" "Tanzanian Olive" female
109 PD_0677 "Tanzanian Olive" "Tanzanian Olive" female
110 PD_0678 "Tanzanian Olive" "Tanzanian Olive" female
111 PD_0679 "Tanzanian Olive" "Tanzanian Olive" male
112 PD_0680 "Tanzanian Olive" "Tanzanian Olive" female
113 PD_0681 "Tanzanian Olive" "Tanzanian Olive" male
114 PD_0682 "Tanzanian Olive" "Tanzanian Olive" female
115 PD_0683 "Tanzanian Olive" "Tanzanian Olive" female
116 PD_0684 "Tanzanian Olive" "Tanzanian Olive" male
117 PD_0685 "Tanzanian Olive" "Tanzanian Olive" female
118 PD_0686 "Tanzanian Olive" "Tanzanian Olive" female
119 PD_0687 "Eastern Yellow" "Eastern Yellow" male
120 PD_0688 "Eastern Yellow" "Eastern Yellow" male
121 PD_0689 "Eastern Yellow" "Eastern Yellow" male
122 PD_0690 "Eastern Yellow" "Eastern Yellow" male
123 PD_0691 "Eastern Yellow" "Eastern Yellow" male
124 PD_0692 Chacma Chacma male
125 PD_0693 Chacma Chacma female
126 PD_0694 Chacma Chacma female
127 PD_0695 Chacma Chacma female
128 PD_0696 Hamadryas Hamadryas male
129 PD_0697 Hamadryas Hamadryas male
130 PD_0698 Hamadryas Hamadryas female
131 PD_0699 Hamadryas Hamadryas male
132 PD_0700 Hamadryas Hamadryas female
133 PD_0701 Hamadryas Hamadryas female
134 PD_0702 Hamadryas Hamadryas male
135 PD_0703 Hamadryas Hamadryas male
136 PD_0704 Hamadryas Hamadryas male
137 PD_0705 Hamadryas Hamadryas male
138 PD_0706 Hamadryas Hamadryas male
139 PD_0707 Hamadryas Hamadryas male
140 PD_0708 Hamadryas Hamadryas female
141 PD_0709 Hamadryas Hamadryas male
142 PD_0710 Hamadryas Hamadryas female
143 PD_0711 Hamadryas Hamadryas male
144 PD_0712 Hamadryas Hamadryas male
145 PD_0713 Hamadryas Hamadryas male
146 PD_0714 Hamadryas Hamadryas male
147 PD_0715 Hamadryas Hamadryas male
148 PD_0716 Hamadryas Hamadryas male
149 PD_0717 Hamadryas Hamadryas male
150 PD_0718 Hamadryas Hamadryas male
151 PD_0719 Hamadryas Hamadryas male
152 PD_0720 "Ethiopian Olive" "Ethiopian Olive" male
153 PD_0721 "Ethiopian Olive" "Ethiopian Olive" female
154 PD_0722 "Ethiopian Olive" "Ethiopian Olive" male
155 PD_0723 "Ethiopian Olive" "Ethiopian Olive" male
156 PD_0724 "Ethiopian Olive" "Ethiopian Olive" female
157 PD_0725 "Ethiopian Olive" "Ethiopian Olive" male
158 PD_0726 "Ethiopian Olive" "Ethiopian Olive" female
159 PD_0727 "Ethiopian Olive" "Ethiopian Olive" male
160 PD_0728 "Ethiopian Olive" "Ethiopian Olive" male
161 PD_0729 "Ethiopian Olive" "Ethiopian Olive" male
162 PD_0730 "Ethiopian Olive" "Ethiopian Olive" female
163 PD_0731 "Ethiopian Olive" "Ethiopian Olive" male
164 PD_0732 "Ethiopian Olive" "Ethiopian Olive" male
165 PD_0733 "Ethiopian Olive" "Ethiopian Olive" male
166 PD_0734 "Ethiopian Olive" "Ethiopian Olive" male
167 PD_0735 "Ethiopian Olive" "Ethiopian Olive" male
168 PD_0736 "Ethiopian Olive" "Ethiopian Olive" female
169 PD_0737 "Ethiopian Olive" "Ethiopian Olive" female
170 PD_0738 "Ethiopian Olive" "Ethiopian Olive" female
171 PD_0739 "Ethiopian Olive" "Ethiopian Olive" male
172 PD_0740 "Ethiopian Olive" "Ethiopian Olive" male
173 PD_0741 "Ethiopian Olive" "Ethiopian Olive" male
174 PD_0742 "Ethiopian Olive" "Ethiopian Olive" male
175 PD_0743 "Ethiopian Olive" "Ethiopian Olive" male
176 PD_0744 "Ethiopian Olive" "Ethiopian Olive" female
177 PD_0745 "Eastern Yellow" "Eastern Yellow" female
178 PD_0746 "Eastern Yellow" "Eastern Yellow" male
179 PD_0747 "Eastern Yellow" "Eastern Yellow" male
180 PD_0748 "Eastern Yellow" "Eastern Yellow" male
181 PD_0749 Kindae Kindae male
182 PD_0750 Kindae Kindae male
183 PD_0751 Kindae Kindae male
184 PD_0752 "Eastern Yellow" "Eastern Yellow" male
185 PD_0753 "Eastern Yellow" "Eastern Yellow" male
186 PD_0754 "Eastern Yellow" "Eastern Yellow" female
187 PD_0755 "Eastern Yellow" "Eastern Yellow" male
188 PD_0756 "Eastern Yellow" "Eastern Yellow" male
189 PD_0757 "Eastern Yellow" "Eastern Yellow" male
190 PD_0758 Kindae Kindae male
191 PD_0759 Kindae Kindae male
192 PD_0760 Kindae Kindae female
193 PD_0761 "Eastern Yellow" "Eastern Yellow" male
194 PD_0762 "Eastern Yellow" "Eastern Yellow" male
195 PD_0763 "Eastern Yellow" "Eastern Yellow" male
196 PD_0764 "Eastern Yellow" "Eastern Yellow" male
197 PD_0765 "Eastern Yellow" "Eastern Yellow" female
198 PD_0766 "Eastern Yellow" "Eastern Yellow" male
199 PD_0767 "Eastern Yellow" "Eastern Yellow" male
200 PD_0768 "Eastern Yellow" "Eastern Yellow" male
201 PD_0769 "Eastern Yellow" "Eastern Yellow" female
202 PD_0770 "Eastern Yellow" "Eastern Yellow" female
203 PD_0771 "Eastern Yellow" "Eastern Yellow" male
204 PD_0772 "Eastern Yellow" "Eastern Yellow" female
205 PD_0773 "Eastern Yellow" "Eastern Yellow" female
206 PD_0774 "Eastern Yellow" "Eastern Yellow" female
207 PD_0775 "Eastern Yellow" "Eastern Yellow" male
208 PD_0776 Kindae Kindae male
209 PD_0777 Kindae Kindae male
210 PD_0778 Kindae Kindae male
211 PD_0779 Kindae Kindae male
212 PD_0780 Kindae Kindae male
213 PD_0781 Kindae Kindae female
214 PD_0782 Kindae Kindae male
215 PD_0783 Kindae Kindae male
216 PD_0784 Kindae Kindae male
217 PD_0785 Kindae Kindae male
218 PD_0786 Kindae Kindae male
219 PD_0787 Kindae Kindae male
220 PD_0788 Kindae Kindae female
221 PD_0789 Kindae Kindae female
222 PD_0790 Kindae Kindae female
223 PD_0791 Kindae Kindae female
224 PD_0792 Kindae Kindae female
225 PD_0793 Kindae Kindae male
226 PD_0794_BAB Kindae Kindae male
