ID POP GROUP SEX
PD_0199_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0199_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0200_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0200_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0201 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0202 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0203_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0203_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0204 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0205_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0205_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0206_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0206_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0207 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0208_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0208_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0209_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0209_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0210_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0210_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0211_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0211_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0212_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0212_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0213_a "Eastern Yellow" "Eastern Yellow" 1
PD_0213_b "Eastern Yellow" "Eastern Yellow" 1
PD_0214_a "Eastern Yellow" "Eastern Yellow" 1
PD_0214_b "Eastern Yellow" "Eastern Yellow" 1
PD_0215 "Eastern Yellow" "Eastern Yellow" 1
PD_0216_a "Eastern Yellow" "Eastern Yellow" 1
PD_0216_b "Eastern Yellow" "Eastern Yellow" 1
PD_0217 "Eastern Yellow" "Eastern Yellow" 1
PD_0218 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0219_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0219_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0220 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0221_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0221_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0222_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0222_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0223 "Eastern Yellow" "Eastern Yellow" 1
PD_0224_a "Eastern Yellow" "Eastern Yellow" 1
PD_0224_b "Eastern Yellow" "Eastern Yellow" 1
PD_0225_a "Eastern Yellow" "Eastern Yellow" 1
PD_0225_b "Eastern Yellow" "Eastern Yellow" 1
PD_0226_a "Eastern Yellow" "Eastern Yellow" 1
PD_0226_b "Eastern Yellow" "Eastern Yellow" 1
PD_0227 "Eastern Yellow" "Eastern Yellow" 1
PD_0228 "Western Yellow" "Western Yellow" 1
PD_0229 "Western Yellow" "Western Yellow" 1
PD_0230 "Western Yellow" "Western Yellow" 1
PD_0231 "Western Yellow" "Western Yellow" 1
PD_0232_a "Western Yellow" "Western Yellow" 1
PD_0232_b "Western Yellow" "Western Yellow" 1
PD_0233 "Western Yellow" "Western Yellow" 1
PD_0234 "Western Yellow" "Western Yellow" 1
PD_0235 "Eastern Yellow" "Eastern Yellow" 1
PD_0236 "Eastern Yellow" "Eastern Yellow" 1
PD_0237_a "Eastern Yellow" "Eastern Yellow" 1
PD_0237_b "Eastern Yellow" "Eastern Yellow" 1
PD_0238_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0238_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0239_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0239_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0240_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0240_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0241_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0241_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0242 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0243_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0243_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0244_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0244_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0265_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0265_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0266 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0267 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0268 "Eastern Yellow" "Eastern Yellow" 1
PD_0269 "Eastern Yellow" "Eastern Yellow" 1
PD_0270_a "Eastern Yellow" "Eastern Yellow" 1
PD_0270_b "Eastern Yellow" "Eastern Yellow" 1
PD_0271_a "Eastern Yellow" "Eastern Yellow" 1
PD_0271_b "Eastern Yellow" "Eastern Yellow" 1
PD_0272_a "Eastern Yellow" "Eastern Yellow" 1
PD_0272_b "Eastern Yellow" "Eastern Yellow" 1
PD_0390_a Papio Papio 1
PD_0390_b Papio Papio 1
PD_0391_a Papio Papio 1
PD_0391_b Papio Papio 1
PD_0392_a Papio Papio 1
PD_0392_b Papio Papio 1
PD_0393_a Papio Papio 1
PD_0393_b Papio Papio 1
PD_0394_a Papio Papio 1
PD_0394_b Papio Papio 1
PD_0395 Papio Papio 1
PD_0396 Papio Papio 1
PD_0397 Papio Papio 1
PD_0398 Papio Papio 1
PD_0399 Papio Papio 1
PD_0400 Papio Papio 1
PD_0401 Papio Papio 1
PD_0492_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0492_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0493 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0494 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0495_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0495_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0496 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0497 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0498 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0499_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0499_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0500_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0500_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0501_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0501_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0502 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0503_a "Eastern Yellow" "Eastern Yellow" 1
PD_0503_b "Eastern Yellow" "Eastern Yellow" 1
PD_0504 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0505 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0506_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0506_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0507_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0507_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0508 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0509_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0509_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0637 "Eastern Yellow" "Eastern Yellow" 1
PD_0641_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0641_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0642 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0649_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0649_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0650 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0651_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0651_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0652_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0652_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0653_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0653_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0654 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0658 "Western Yellow" "Western Yellow" 1
PD_0659_a "Western Yellow" "Western Yellow" 1
PD_0659_b "Western Yellow" "Western Yellow" 1
PD_0662_a "Western Yellow" "Western Yellow" 1
PD_0662_b "Western Yellow" "Western Yellow" 1
PD_0674_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0674_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0675_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0675_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0676_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0676_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0677_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0677_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0678_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0678_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0679 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0680_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0680_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0681 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0682_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0682_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0683_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0683_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0684 "Tanzanian Olive" "Tanzanian Olive" 1
PD_0685_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0685_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0686_a "Tanzanian Olive" "Tanzanian Olive" 1
PD_0686_b "Tanzanian Olive" "Tanzanian Olive" 1
PD_0687 "Eastern Yellow" "Eastern Yellow" 1
PD_0688 "Eastern Yellow" "Eastern Yellow" 1
PD_0689 "Eastern Yellow" "Eastern Yellow" 1
PD_0690 "Eastern Yellow" "Eastern Yellow" 1
PD_0691 "Eastern Yellow" "Eastern Yellow" 1
PD_0692 Chacma Chacma 1
PD_0693_a Chacma Chacma 1
PD_0693_b Chacma Chacma 1
PD_0694_a Chacma Chacma 1
PD_0694_b Chacma Chacma 1
PD_0695_a Chacma Chacma 1
PD_0695_b Chacma Chacma 1
PD_0696 Hamadryas Hamadryas 1
PD_0697 Hamadryas Hamadryas 1
PD_0698_a Hamadryas Hamadryas 1
PD_0698_b Hamadryas Hamadryas 1
PD_0699 Hamadryas Hamadryas 1
PD_0700_a Hamadryas Hamadryas 1
PD_0700_b Hamadryas Hamadryas 1
PD_0701_a Hamadryas Hamadryas 1
PD_0701_b Hamadryas Hamadryas 1
PD_0702 Hamadryas Hamadryas 1
PD_0703 Hamadryas Hamadryas 1
PD_0704 Hamadryas Hamadryas 1
PD_0705 Hamadryas Hamadryas 1
PD_0706 Hamadryas Hamadryas 1
PD_0707 Hamadryas Hamadryas 1
PD_0708_a Hamadryas Hamadryas 1
PD_0708_b Hamadryas Hamadryas 1
PD_0709 Hamadryas Hamadryas 1
PD_0710_a Hamadryas Hamadryas 1
PD_0710_b Hamadryas Hamadryas 1
PD_0711 Hamadryas Hamadryas 1
PD_0712 Hamadryas Hamadryas 1
PD_0713 Hamadryas Hamadryas 1
PD_0714 Hamadryas Hamadryas 1
PD_0715 Hamadryas Hamadryas 1
PD_0716 Hamadryas Hamadryas 1
PD_0717 Hamadryas Hamadryas 1
PD_0718 Hamadryas Hamadryas 1
PD_0719 Hamadryas Hamadryas 1
PD_0720 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0721_a "Ethiopian Olive" "Ethiopian Olive" 1
PD_0721_b "Ethiopian Olive" "Ethiopian Olive" 1
PD_0722 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0723 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0724_a "Ethiopian Olive" "Ethiopian Olive" 1
PD_0724_b "Ethiopian Olive" "Ethiopian Olive" 1
PD_0725 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0726_a "Ethiopian Olive" "Ethiopian Olive" 1
PD_0726_b "Ethiopian Olive" "Ethiopian Olive" 1
PD_0727 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0728 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0729 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0730_a "Ethiopian Olive" "Ethiopian Olive" 1
PD_0730_b "Ethiopian Olive" "Ethiopian Olive" 1
PD_0731 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0732 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0733 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0734 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0735 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0736_a "Ethiopian Olive" "Ethiopian Olive" 1
PD_0736_b "Ethiopian Olive" "Ethiopian Olive" 1
PD_0737_a "Ethiopian Olive" "Ethiopian Olive" 1
PD_0737_b "Ethiopian Olive" "Ethiopian Olive" 1
PD_0738_a "Ethiopian Olive" "Ethiopian Olive" 1
PD_0738_b "Ethiopian Olive" "Ethiopian Olive" 1
PD_0739 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0740 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0741 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0742 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0743 "Ethiopian Olive" "Ethiopian Olive" 1
PD_0744_a "Ethiopian Olive" "Ethiopian Olive" 1
PD_0744_b "Ethiopian Olive" "Ethiopian Olive" 1
PD_0745_a "Eastern Yellow" "Eastern Yellow" 1
PD_0745_b "Eastern Yellow" "Eastern Yellow" 1
PD_0746 "Eastern Yellow" "Eastern Yellow" 1
PD_0747 "Eastern Yellow" "Eastern Yellow" 1
PD_0748 "Eastern Yellow" "Eastern Yellow" 1
PD_0749 Kindae Kindae 1
PD_0750 Kindae Kindae 1
PD_0751 Kindae Kindae 1
PD_0752 "Eastern Yellow" "Eastern Yellow" 1
PD_0753 "Eastern Yellow" "Eastern Yellow" 1
PD_0754_a "Eastern Yellow" "Eastern Yellow" 1
PD_0754_b "Eastern Yellow" "Eastern Yellow" 1
PD_0755 "Eastern Yellow" "Eastern Yellow" 1
PD_0756 "Eastern Yellow" "Eastern Yellow" 1
PD_0757 "Eastern Yellow" "Eastern Yellow" 1
PD_0758 Kindae Kindae 1
PD_0759 Kindae Kindae 1
PD_0760_a Kindae Kindae 1
PD_0760_b Kindae Kindae 1
PD_0761 "Eastern Yellow" "Eastern Yellow" 1
PD_0762 "Eastern Yellow" "Eastern Yellow" 1
PD_0763 "Eastern Yellow" "Eastern Yellow" 1
PD_0764 "Eastern Yellow" "Eastern Yellow" 1
PD_0765_a "Eastern Yellow" "Eastern Yellow" 1
PD_0765_b "Eastern Yellow" "Eastern Yellow" 1
PD_0766 "Eastern Yellow" "Eastern Yellow" 1
PD_0767 "Eastern Yellow" "Eastern Yellow" 1
PD_0768 "Eastern Yellow" "Eastern Yellow" 1
PD_0769_a "Eastern Yellow" "Eastern Yellow" 1
PD_0769_b "Eastern Yellow" "Eastern Yellow" 1
PD_0770_a "Eastern Yellow" "Eastern Yellow" 1
PD_0770_b "Eastern Yellow" "Eastern Yellow" 1
PD_0771 "Eastern Yellow" "Eastern Yellow" 1
PD_0772_a "Eastern Yellow" "Eastern Yellow" 1
PD_0772_b "Eastern Yellow" "Eastern Yellow" 1
PD_0773_a "Eastern Yellow" "Eastern Yellow" 1
PD_0773_b "Eastern Yellow" "Eastern Yellow" 1
PD_0774_a "Eastern Yellow" "Eastern Yellow" 1
PD_0774_b "Eastern Yellow" "Eastern Yellow" 1
PD_0775 "Eastern Yellow" "Eastern Yellow" 1
PD_0776 Kindae Kindae 1
PD_0777 Kindae Kindae 1
PD_0778 Kindae Kindae 1
PD_0779 Kindae Kindae 1
PD_0780 Kindae Kindae 1
PD_0781_a Kindae Kindae 1
PD_0781_b Kindae Kindae 1
PD_0782 Kindae Kindae 1
PD_0783 Kindae Kindae 1
PD_0784 Kindae Kindae 1
PD_0785 Kindae Kindae 1
PD_0786 Kindae Kindae 1
PD_0787 Kindae Kindae 1
PD_0788_a Kindae Kindae 1
PD_0788_b Kindae Kindae 1
PD_0789_a Kindae Kindae 1
PD_0789_b Kindae Kindae 1
PD_0790_a Kindae Kindae 1
PD_0790_b Kindae Kindae 1
PD_0791_a Kindae Kindae 1
PD_0791_b Kindae Kindae 1
PD_0792_a Kindae Kindae 1
PD_0792_b Kindae Kindae 1
PD_0793 Kindae Kindae 1
PD_0794_BAB Kindae Kindae 1
Sci_16066_a "Eastern Yellow" "Eastern Yellow" 1
Sci_16066_b "Eastern Yellow" "Eastern Yellow" 1
Sci_16098_a "Eastern Yellow" "Eastern Yellow" 1
Sci_16098_b "Eastern Yellow" "Eastern Yellow" 1
Sci_30877 "Kenyan Olive" "Kenyan Olive" 1
Sci_30977_a "Kenyan Olive" "Kenyan Olive" 1
Sci_30977_b "Kenyan Olive" "Kenyan Olive" 1
Sci_34449_a Kindae Kindae 1
Sci_34449_b Kindae Kindae 1
Sci_34474_a Kindae Kindae 1
Sci_34474_b Kindae Kindae 1
Sci_97074_a Hamadryas Hamadryas 1
Sci_97074_b Hamadryas Hamadryas 1
Sci_97124 Hamadryas Hamadryas 1
